.input {
  position: relative;
  // text and password input
  &__text {
    background: #ffffff;

    /* Gray/ dim */
    border: 1px solid $gray-dim;
    box-sizing: border-box;
    height: 56px;
    width: 480px;
    padding-left: 24px;
    border-radius: 20px;
    color: $secondary;
    font-size: 1rem;
    margin-top: 55px;

    &:focus {
      border: 1px solid $secondary;
      outline: none;
      & + label {
        color: $secondary;
      }
    }

    // mobile
    @media #{$mobile} {
      width: 100%;
      max-height: 44px;
      border-radius: 15px;
    }
  }

  &__errors {
    border: 1px solid $red-medium;
  }

  &__icon {
    position: absolute;
    // input width - (icon width + distance from edge)
    left: #{480- (24+25)}px;
    bottom: 10px;

    // mobile
    @media #{$mobile} {
      right: 20px;
      left: auto;
      bottom: 5px;
    }

    // add border when focusing with tab
    &:focus {
      outline: none;

      img {
        outline: none;
        box-shadow: none;
      }
    }

    &:focus-visible {
      outline: none;

      img {
        outline: none;
        box-shadow: 0 0 0 2px $orange-light;
      }
    }
  }
}

// text and password label
.label {
  &__text {
    color: $gray-dim;
    position: absolute;
    z-index: 1;
    left: 17px;
    top: 45px;
    padding: 0 8px;
    background-color: white;
    font-size: 0.8rem;
  }
  &__errors {
    color: $red-medium;
  }
}
