.login {
  display: flex;
}

.cancel {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  transition: transform 0.2s ease-in;
  filter: invert(0.5);

  &:hover {
    transform: scale(1.1);
  }
}

.hero {
  float: left;
  height: 90vh;
  max-height: 1200px;

  // tablet
  @media #{$tablet} {
    display: none;
  }
  // portrait screen
  @media only screen and (min-width: $medium-breakpoint) and (min-height: 1300px) {
    display: none;
  }
  // big screen
  @media only screen and (min-width: 2000px) and (min-height: 1300px) {
    display: none;
  }
  // portrait on big screen
  @media only screen and (min-width: 2000px) and (min-height: 1800px) {
    display: none;
  }
}
.hero-big {
  display: none;
  width: auto;

  // portrait screen
  @media only screen and (min-width: $medium-breakpoint) and (min-height: 1300px) {
    display: none;
  }
  // big screen
  @media only screen and (min-width: 2000px) and (min-height: 1300px) {
    display: block;
  }
  // portrait on big screen
  @media only screen and (min-width: 2000px) and (min-height: 1800px) {
    display: none;
  }
}
.logo {
  display: block;
  margin: 81px auto 0 auto;
}
.heading {
  margin-bottom: 0 !important;
  margin-top: 127px;
  text-align: center;

  // mobile
  @media #{$mobile} {
    margin-top: 48px;
  }
}
.content {
  width: 480px;
  margin: auto;

  // tablet
  @media #{$tablet} {
    width: 480px;
    margin: auto;
  }
  // mobile
  @media #{$mobile} {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  // portrait screen
  @media only screen and (min-width: $medium-breakpoint) and (min-height: 1300px) {
    position: relative;
    top: 30vh;
  }
  // big screen
  @media only screen and (min-width: 2000px) and (min-height: 1300px) {
    position: relative;
    top: -100px;
  }
  // portrait on big screen
  @media only screen and (min-width: 2000px) and (min-height: 1800px) {
    position: relative;
    top: 30vh;
  }
}
.errors {
  color: $red-medium;
  position: absolute;
  padding-left: 15px;
}

.checkbox {
  margin-top: 47px;
  display: flex;
  max-width: 200px;
  color: $secondary;

  &__control {
    display: inline-grid;
    background-color: $white;
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 0.09rem solid;
    // center it
    margin-top: 0.2rem;

    svg {
      transition: transform 0.1s ease-in 25ms;
      transform: scale(0);
      transform-origin: bottom left;
      margin: auto;
    }
  }

  &__input {
    display: grid;
    grid-template-areas: 'checkbox';

    > * {
      grid-area: checkbox;
    }

    input {
      opacity: 0;
      width: 1em;
      height: 1em;

      &:checked + .checkbox__control svg {
        transform: scale(1);
      }
      &:checked + .checkbox__control {
        background-color: $secondary;
      }
      &:focus-visible + .checkbox__control {
        box-shadow: 0 0 0 2px $orange-light;
      }
    }
  }
}

.button--margin {
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
}

// transitions
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter {
  opacity: 0;
}
