.message {
  display: flex;
  padding: 13px 14px;
  width: 480px;
  height: 48px;
  border-radius: 20px;
  margin-top: 30px;

  &.error {
    background-color: $red-tint;
    color: $red-dark;
  }
  &.warning {
    background-color: $yellow-tint;
    color: $yellow-dark;
  }
  &.success {
    background-color: $green-tint;
    color: $green-dark;
  }
  &__text {
    padding-left: 15px;
  }

  &__icon {
    // mobile
    @media #{$mobile} {
      margin: auto 0;
    }
  }

  // mobile
  @media #{$mobile} {
    width: 100%;
    font-size: 14px;
  }

  // vertical align on extra small screens
  @media only screen and (max-width: 450px) {
    height: auto;
  }
}
