.message {
  display: flex;
  padding: 12px 14px;
  width: 480px;
  height: 48px;
  border-radius: 20px;
  margin-top: 30px;

  &.error {
    background-color: $red-tint;
    color: $red-dark;
  }
  &.warning {
    background-color: $yellow-tint;
    color: $yellow-dark;
  }
  &.success {
    background-color: $green-tint;
    color: $green-dark;
  }
  // mobile
  @media only screen and (max-width: $small-breakpoint) {
    width: 100%;
    height: 35px;
    font-size: 14px;
  }
}

.text {
  padding-left: 15px;
  // mobile
  @media only screen and (max-width: $small-breakpoint) {
    margin-top: -5px;
  }
}

.icon {
  // mobile
  @media only screen and (max-width: $small-breakpoint) {
    margin-top: -6px;
  }
}
